*{
  box-sizing:border-box;
 }

html{  
  font-size: 62.5%;
}

body {
  font-family: Verdana;
  font-size: 1.2rem;
  line-height: 1.4;
}

.container{

}
/* header */

/* navigatie */

/* main en articles */


/*--------- beatles.html: paragraaf bold maken  --------*/


